
.channel-header {
    .flex-row{
      display: flex;
      flex-direction: row;

      .channel-profile-picture {
        display: flex;       
        justify-content: center;
        align-items: center;

        .channel-avatar {
          max-width: 15.0rem;
          max-height: 15.0rem;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          margin-right: 2.4rem;
        }
      }
  
      .channel-info-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
  
          .user-info {
            color: #F5F4F4;
            font-size: 2.6rem;
          }
  
          .subscribe-pill{   
            .button{
              font-size: 2.7rem;
              border-radius: 2.3rem;
              border: none;
              color: #F5F4F4;
              background-color: #35C280;
            }
  
            .star-icon{
              color: #F5F4F4;
              height: 3rem;
              width: 3rem;
            }
          }
      }
    }
}

.tab-pane {
    .video-list {
      display: flex;
      flex-wrap: wrap;
      gap: 1.0rem;
      padding: 1.0rem 0;

      @include media-breakpoint-up(xxl) {
        gap: 2.5rem;
      }
    
      .video-item {
        flex: 1 0 calc((100% / 3) - 1.0rem);
        max-width: calc((100% / 3) - 1.0rem);

        @include media-breakpoint-up(xxl) {
          flex: 1 0 calc((100% / 4) - 2.5rem);
          max-width: calc((100% / 4) - 2.5rem);
        }
      
        .video-overlay {
          position: relative;
          width: 100%;
          height: 253px;
      
          .video-views {
            position: absolute;
            left: 10px;
            bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(31, 31, 31, 0.7);
            border-radius: 20px;
            width: 98px;
            height: 30px;
    
            p {
              font-family: $primary-font;
              font-size: 15px;
              color: #F5F4F4;
              letter-spacing: 0.3px;
              margin-left: 10px;
              margin-bottom: 0;
            }
          }
        }
      
        .video-thumbnail {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      
        .video-item-body {
          padding: 1.0rem;
          background-color: #323432;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
      
          a {
            text-decoration: none;
          }
    
          .video-title {
            font-family: $primary-font;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0.8px;
            color: #F5F4F4;
          }

          .video-details {
            display: flex;
            gap: 14px;
            align-items: center;
            padding: 10px 0;

            .video-views {
              font-family: $primary-font;
              font-size: 15px;
              letter-spacing: 0.3px;
              color: #F5F4F4;
            }

            .video-timestamp {
              font-family: $primary-font;
              font-size: 15px;
              letter-spacing: 0.3px;
              color: #F5F4F4;
            }
          }
        }
      }
    }
}



/*
.channel-pill {
            display: block;
            background-color: #323432;
            border-radius: 1.5rem;
            text-align: center;
            padding: 0 1.5rem;
        }

        h2 {
            font-family: $primary-font;
            font-size: 2.4rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        p {
            font-family: $primary-font;
            font-size: 1.8rem;
        }

        button {
            font-family: $primary-font;
            font-size: 1.8rem;
        }

        .channel-subscribe-btn {
            display: block;
            background-color: #35c280;
            border-radius: 23px;
            border: 0;
            color: #f5f4f4;
            width: 166px;
            height: 31px;
        }
*/