/*********************************        Global CSS          *************************************/
html,
body {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  color: #F5F4F4;
}

p {
  color: #F5F4F4;
}

#root {
  height: 100%;
}

//Boostrap overrides
.form-control {
  border: 0;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem #F5F4F4;
  border: 0;
}
/*********************************       MainLayout          *************************************/
.main-layout {
  background-color: #1f1f1f;
  width: 100%;
  min-height: 100%;
  padding: 1.0rem;
}