/*********************************       Settings          *************************************/
.settings-title{
    color: #F5F4F4;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}
  
.settings-navbar-link {
  color: #F5F4F4;
  font-size: x-large;

  &:hover {
    color: #35C280;
  }
}

.settings-navbar-link.nav-link {
  border: none;

  &.active {
    background-color: #1f1f1f;
    color: #35C280;
    border-bottom: 3px solid #35C280;
  }
}

/*********************************       Profile Pane         *************************************/
.profile-picture {
  height: 100px;
  width: 100px;
  position: absolute;
  border-radius: 150px 150px 0 0;
  background-color: #323432;
}

.avatar-image {
  height: 100px;
  width: 100px;
  z-index: 2;
}  

.form{
    background-color: #323432;

    .form-label-leftside {
      color: #F5F4F4;
      font-size: larger;
    }
    
    .form-label-rightside {
      display: flex;
      justify-content: right;
      align-items: center;
      color: #F5F4F4;
      font-size: larger;
    }
  
    .edit-icon {
      font-size: large;
      color: #F5F4F4;
    }
    
    .custom-padding {
      padding-right: 20px;
    }
}