@import "~bootstrap/scss/bootstrap";
@import "./styles/navbar";

/*********************************        Global CSS          *************************************/
html,
body {
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

/*********************************       MainLayout          *************************************/
.main-layout {
  background-color: #1f1f1f;
  width: 100%;
  height: 100%;
  padding: 10px;
}

/*********************************       AuthLayout          *************************************/
.auth-layout {
  background-color: #cdcefc;
  width: 100%;
  height: 100%;

  .auth-form {
    background-color: #f1fde8;
    padding: 10px;
  }
}

#site-header {
  background-color: #323432;
  border-radius: 50px;
}

.upload-video-img {
  width: 37px;
  height: 26px;
}

.avatar-container {
  background-color: #323432;
  width: 51px;
  height: 51px;
  padding: 0;
  border: 0;

  .avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.dropdown-user {
  display: flex;
  gap: 14px;
  align-items: center;
  width: 172px;
  margin: 0 auto;
  padding: 10px 0;
}

.dropdown-avatar {
  width: 51px;
  height: 51px;
  border-radius: 50%;
}

.dropdown-item {
  width: 172px;
  height: 30px;
  margin: 0 auto;
  background-color: #323432;
  border-radius: 15px;
  color: #F5F4F4;
}

.btn-logout {
  display: block;
  width: 172px;
  height: 30px;
  margin: 0 auto;
  background-color: #323432;
  border-radius: 15px;
  border: 0;

  .logout-icon {
    width: 21px;
    height: 18px;
  }
}

.icon-item {
  display: flex;
  justify-content: center;
  align-items: center;

  .icon-container {
    padding-right: 10px;

    img {
      display: block;
    }
  }
}

.core-username {
  font-size: 16px;
  letter-spacing: 0.8px;
  color: #F5F4F4;
}

.core-text {
  color: #F5F4F4;
  margin-bottom: 0;
}

.main-dropout {
  background-color: #1f1f1f;
  width: 215px;
  height: 193px;
}

.dropdown-toggle::after {
  display: none;
}
