@import "~bootstrap/scss/bootstrap";

/*********************************        Global CSS          *************************************/
html,
body {
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

/*********************************       MainLayout          *************************************/
.main-layout {
  background-color: rgb(178, 231, 248);
  width: 100%;
  height: 100%;
}

/*********************************       AuthLayout          *************************************/
.auth-layout {
  background-color: #cdcefc;
  width: 100%;
  height: 100%;

  .auth-form {
    background-color: #f1fde8;
    padding: 10px;
  }
}

#site-header {
  background-color: white;
}

.avatar {
  width: 51px;
  height: 51px;
}

.dropdown-toggle::after {
  display: none;
}
