

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xtl: 1600px
) !default;
// scss-docs-end grid-breakpoints

$primary-font: 'Lato', sans-serif;

@import "~bootstrap/scss/bootstrap";
@import "./styles/navbar";
@import "./styles/videojs";


/*********************************        Global CSS          *************************************/
html,
body {
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

/*********************************       MainLayout          *************************************/
.main-layout {
  background-color: #1f1f1f;
  width: 100%;
  min-height: 100%;
  padding: 10px;
}

//Boostrap overrides

.row {
  --bs-gutter-x: 0;
}

/*********************************       AuthLayout          *************************************/
.auth-layout {
  background-color: #cdcefc;
  width: 100%;
  height: 100%;

  .auth-background {
    background-color: #1f1f1f;
    height: 100%;
  }

  .container-fluid {
    padding: 0;
    height: 100vh;

    .row {
      height: 100%;

      .col {
        height: 100%;
      }
    }
  }

  .content {
    height: 100%;
  }

  .auth-form-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &.login {
      background: transparent linear-gradient(219deg, #323432 0%, #35C280 100%) 0% 0% no-repeat padding-box;
    }

    &.register {
      background: transparent linear-gradient(140deg, #323432 0%, #35C280 100%) 0% 0% no-repeat padding-box;
    }
  }

  .auth-form-container {
    background-color: #1F1F1F;
    border-radius: 10px;
    padding: 10px;

    @include media-breakpoint-up(xl) {
      width: 510px;
      height: 498px;
    }

    @include media-breakpoint-up(xtl) {
      width: 710px;
      height: 698px;
    }

    .auth-content {
      margin: 0 auto;

      @include media-breakpoint-up(xl) {
        max-width: 410px;
      }

      @include media-breakpoint-up(xtl) {
        max-width: 532px;
      }

      .auth-text {
        a {
          text-decoration: none;
          font-family: $primary-font;
          font-size: 20px;
          letter-spacing: 1px;
          color: #35C280;
        }
      }
    }

    .golive-logo {
      display: block;
      width: 208px;
      height: 75px;

      @include media-breakpoint-up(xl) {
        margin: 41px auto 51px;
      }

      @include media-breakpoint-up(xtl) {
        margin: 71px auto 81px;
      }
    }

    .form-group {

      @include media-breakpoint-up(xl) {
        margin-bottom: 18px;
      }

      @include media-breakpoint-up(xtl) {
        margin-bottom: 28px;
      }

      .form-control {
        max-width: 532px;
        height: 52px;
        background-color: #323432;
        border-radius: 28px;
        border: 0;
        font-family: $primary-font;
        font-size: 19px;
        letter-spacing: 1.48px;
        color: #F5F4F4;
        padding: 7px 25px;

        &::placeholder {
          font-family: $primary-font;
          font-size: 19px;
          letter-spacing: 1.48px;
          color: #F5F4F4;
        }
      }
    }

    .login-btn {
      width: 100%;
      height: 52px;
      background-color: #35C280;
      border-color: #35C280;
      border-radius: 28px;
      font-family: $primary-font;
      font-size: 23px;
      letter-spacing: 1.79px;
      color: #F5F4F4;

      @include media-breakpoint-up(xl) {
        margin-bottom: 19px;
      }

      @include media-breakpoint-up(xtl) {
        margin-bottom: 39px;
      }
    }
  }
}

#site-header {
  background-color: #323432;
  border-radius: 50px;
}

.upload-video-img {
  width: 37px;
  height: 26px;
}

.avatar-container {
  background-color: #323432;
  width: 51px;
  height: 51px;
  padding: 0;
  border: 0;

  .avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.dropdown-user {
  display: flex;
  gap: 14px;
  align-items: center;
  width: 172px;
  margin: 0 auto;
  padding: 10px 0;
}

.dropdown-avatar {
  width: 51px;
  height: 51px;
  border-radius: 50%;
}

.dropdown-item {
  width: 172px;
  height: 30px;
  margin: 0 auto;
  background-color: #323432;
  border-radius: 15px;
  color: #F5F4F4;
}

.btn-logout {
  display: block;
  width: 172px;
  height: 30px;
  margin: 0 auto;
  background-color: #323432;
  border-radius: 15px;
  border: 0;

  .logout-icon {
    width: 21px;
    height: 18px;
  }
}

.icon-item {
  display: flex;
  justify-content: center;
  align-items: center;

  .icon-container {
    padding-right: 10px;

    img {
      display: block;
    }
  }
}

.core-username {
  font-size: 16px;
  letter-spacing: 0.8px;
  color: #F5F4F4;
}

.core-text {
  color: #F5F4F4;
  margin-bottom: 0;
}

.main-dropout {
  background-color: #1f1f1f;
  width: 215px;
  height: 193px;
}

.dropdown-toggle::after {
  display: none;
}

.site-text {
  font-family: $primary-font;
  font-size: 18px;
  letter-spacing: 1.4px;
  color: #F5F4F4;
}

.category-list {
  gap: 22px;
  margin-bottom: 30px;
}

.category-pill {
  background-color: #585858;
  border-color: #585858;
  border-radius: 20px;
  font-family: $primary-font;
  font-size: 15px;
  letter-spacing: 0.3px;
  color: #F5F4F4;
  padding: 5px 22px;

  &.active {
    background-color: #000000;
    border-color: #000000;
    color: #35C280;
  }
}

.video-item {
  width: 450px;
  height: 316px;

  .video-overlay {
    position: relative;
    width: 100%;
    height: 253px;

    .video-views {
      position: absolute;
      left: 10px;
      bottom: 10px;
    }
  }

  .video-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .video-item-body {
    height: 62px;

    .video-details {
      display: flex;
      gap: 14px;
      align-items: center;
      padding: 10px 0;

      a {
        text-decoration: none;
      }

      .video-user-avatar {
        width: 51px;
        height: 51px;
        border-radius: 50%;
      }

      .video-title {
        font-family: $primary-font;
        font-size: 16px;
        letter-spacing: 0.8px;
        color: #F5F4F4;
      }

      .video-username {
        font-family: $primary-font;
        font-size: 15px;
        letter-spacing: 0.3px;
        color: #F5F4F4;
      }
    }
  }
}

.video-container {
  max-height: 788px;
}

.primary-info {
  display: flex;
  justify-content: space-between;

  .video-title {
    font-family: $primary-font;
    letter-spacing: 1.95px;
    color: #F5F4F4;
  }

  .video-views-count {
    font-family: $primary-font;
    letter-spacing: 1.25px;
    color: #F5F4F4;
  }
}

.secondary-info {
  .video-owner {
    display: flex;
    gap: 14px;
    align-items: center;
    padding: 10px 0;

    .video-owner-avatar {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
  
    .video-owner-username {
      font-family: $primary-font;
      letter-spacing: 1.05px;
      color: #F5F4F4;
    }

    .video-owner-subscribers {
      font-family: $primary-font;
      letter-spacing: 0.4px;
      color: #F5F4F4;
    }
  }

  .video-description {
    color: #F5F4F4;
  }
}

/*********************************       Settings          *************************************/
.settings-title{
  color: #F5F4F4;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

.settings-navbar-link {
  color: #F5F4F4;
  font-size: x-large;
}

.settings-navbar-link:hover {
  color: #35C280;
}

.settings-navbar-link.nav-link.active {
  background-color: #1f1f1f;
  color: #35C280;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid #35C280;
}

.settings-navbar-item.hover {
  border-left: none;
  border-right: none;
  border-top: none;
}

.settings-tab-pane {
  color: #F5F4F4;
}

.form-background{
  background-color: #323432;
}

.form-label-leftside {
  color: #F5F4F4;
  font-size: larger;
}

.form-label-rightside {
  display: flex;
  justify-content: right;
  align-items: center;
  color: #F5F4F4;
  font-size: larger;
}

.edit-icon {
  display: flex;
  width: 20px;
  height: 20px;
  color: #F5F4F4;
}

.custom-padding {
  padding-right: 20px;
}






/*********************************       (Input Section Name Here)         *************************************/